  
<section class="bg-light" id="infoforauthors">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Information for Authors</h2>
                <hr class="primary">
                <p>
                Please submit an Extended abstract with 2-page maximum length and reporting on an ALife methodology experience of unpublished or previously published work.
                </p>
              
              <p>
              <ul>
              <li><a href="http://abmhub.braintree.com/doc/ABMHuB_Word_Template.doc">Word Template</a></li>
              <li><a href="http://abmhub.braintree.com/doc/ABMHuB_Latex_Template.zip">LaTex Template</a></li>
              </ul>
              </p>
              <p>
              Abstracts can be submitted by e-mail to students+owner@isal.groups.io.
              </p>              
              <p>

All submissions will undergo a review process on timeliness, scientific quality, and sound methodology. Accepted abstracts will be published online, along with notes from discussion and presentations at the workshop. 

                </p>
            </div>
        </div>
    </div>
</section>
