<section id="organizers" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Organizers</h2>
                <hr class="dark">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>I&#241;aki Fern&#225;ndez Per&#233;z</h3>
                    <p class="text-faded">ERA Vice Chair; Keele University, UK; fernandezperez.inaki@gmail.com</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>Arturo Araujo</h3>
                    <p class="text-faded">ISAL Board Liaison Chair; Braintree Ltd & University College London, UK; a.araujo@braintree.com</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>Penny Faulkner Rainford</h3>
                    <p class="text-faded">ERA Conference Chair; Durham University, UK; pf550@york.ac.uk</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>Emily Dolson</h3>
                    <p class="text-faded">ERA General Chair; Cleveland Clinic Lerner Research Institute, US; EmilyLDolson@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</section>
